@charset "utf-8";
/* CSS Document */


html {
    box-sizing: border-box;
}

/*
*,
*:before,
*:after {
    box-sizing: inherit;
}
*/


/* --------------------------------------------- */


:root {
    --light-grey:#eaeaea;
    --light-grey-bg:rgba(234, 234, 234, 0.7);
    --light-medium-grey:rgb(178, 178, 178);
    --medium-grey: #585858;
    --dark-grey: #292929;
    --restaurant-blue: #3397db;
    --restaurant-orange: #ffa500;
    --restaurant-orange-dark: #be7b00;
    
    --radius-restaurant: 30px;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position: relative;
    display: flex;
    flex-direction: column;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: var(--restaurant-orange);
	text-decoration: none;
}
a:hover, a:focus {
	color: var(--restaurant-blue);
	text-decoration: none;
}
a img{
	border: none 0 #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
    background-color: #f3f3f3;
    min-height: 100%;
}
#footer {
    background-color: #444;
    color: #aaa;
    font-size: 8pt;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

#footer > a {
    margin: 0 1em;
}
.hidden {
    display: none;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
    display: flex;
    flex-direction: column;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
/*    max-width: 100%;*/
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
    padding: 10px;
    width: 100vw;
    height: 100%;
    background-color: #3397DB;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 170px;
}

/* ====================== Restaurant Listing ====================== */


#restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 30px;
    display: grid;
    grid-auto-flow: row;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 30px;
}
#restaurants-list li {
    background-color: #fff;
    border: 2px solid #ccc;
    font-family: Arial,sans-serif;
    min-height: 380px;
    padding: 20px;
    text-align: left;
    width: 270px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
/*  min-height: 248px;*/
  min-width: 100%;
}
#restaurants-list li h3 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: var(--restaurant-orange);
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#restaurants-list li a:hover,
#restaurants-list li a:focus {
  background-color: var(--restaurant-orange-dark);
}
#restaurants-list li .aria-label-details {
    display: none;
}
/* ====================== Restaurant Details ====================== */
.inside header {
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside # maincontent {    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 300px;
}
.inside #map {
  background-color: #ccc;
  height: 300px;
  width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 80%;
    border-radius: var(--radius-restaurant) 0 var(--radius-restaurant) 0 ;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#cuisineTypeLabel {
    margin: 5em 0 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #333;
    height: 2.5em;
    padding: 0 1em;
    border: 0.2em solid #333;
    border-radius: 0.3em;
}
#cuisineTypeLabel img {
    height: 2em;
    margin: 0 1em;
}
#restaurant-cuisine {
    color: #ddd;
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 1em;
}
#restaurant-container, #reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#restaurant-container{
  padding: 30px 0;
}
#reviews-container {
  padding: 30px 0;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
#reviews-list li {
    background-color: rgba(255, 255, 255, 0);
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    position: relative;
    width: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.reviewHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: var(--dark-grey);
    border: 20px solid var(--dark-grey);
    border-radius: var(--radius-restaurant) 0 0 0 ;
    width: 85%;
}
.reviewHeader p {
    color: var(--light-medium-grey);
    text-shadow: 1px 1px 1px #000;
    padding: 0;
    margin: 0;
    margin-left: 0px;
    margin-right: 10px;
}
.reviewHeader .name{
    font-size: 1.6em;
    color: #fff;
    margin-left: 10px;
    margin-right: 0px;
}
.reviewBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    border: 20px solid #fff;
    border-radius: 0 0 var(--radius-restaurant) 0;
    width: 85%;
    box-shadow: 0 2px 5px 0px var(--light-medium-grey);
}
/*
#reviews-list li p {
  margin: 0 0 10px;
}
*/
.ratingDiv {
    width: 100%;
    padding: 0;
}
.reviewRating {
    background: var(--restaurant-orange);
    padding: 0 5px;
    height: 1.7em;
    width: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0.2em solid var(--restaurant-orange);
    border-radius: 0.3em;
}
.reviewRating p {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}
#restaurant-hours td {
  color: #666;
}

@media screen and (max-width:550px){

    
    #restaurant-img {
        width: 90%;
    }
    
    .filter-options {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

}

@media screen and (max-width:400px){

    #filter-choice-fields {
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    #restaurants-list {
        padding: 20px 0;
        grid-row-gap: 30px;
    }
    
    #restaurants-list li {
        width: 230px;
    }
    
}